export AWS_ACCESS_KEY_ID={{ AWS_ACCESS_KEY_ID }}
export AWS_SECRET_ACCESS_KEY={{ AWS_SECRET_ACCESS_KEY }}
export AWS_S3_REGION_NAME={{ AWS_S3_REGION_NAME }}
export AWS_MEDIA_BUCKET_NAME={{ AWS_MEDIA_BUCKET_NAME }}
export SECRET_KEY={{ SECRET_KEY }}
export DEBUG={{ DEBUG }}
export DJANGO_SETTINGS_MODULE={{ DJANGO_SETTINGS_MODULE }}
export DATABASE_NAME={{ DATABASE_NAME }}
export DATABASE_USER={{ DATABASE_USER }}
export DATABASE_PASSWORD={{ DATABASE_PASSWORD }}
export DATABASE_HOST={{ DATABASE_HOST }}
export DATABASE_PORT={{ DATABASE_PORT }}
export DJANGO_HOST={{ DJANGO_HOST }}
export DJANGO_SETTINGS_MODULE={{ DJANGO_SETTINGS_MODULE }}
export CELERY_BROKER_URL={{ CELERY_BROKER_URL }}
export WEB_APP_HOST={{ WEB_APP_HOST }}
export SENTRY_KEY={{ SENTRY_KEY }}
export SENTRY_ORGANISATION={{ SENTRY_ORGANISATION }}
export SENTRY_PROJECT={{ SENTRY_PROJECT }}

{{ project_venv }}/bin/python3 manage.py {{ django_command }}
