server {
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/fixthenews.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/fixthenews.com/privkey.pem;

    server_name {{ DJANGO_HOST }};

    location /static/ {
       alias {{ static_directory }}/;
    }

    location /media/ {
        alias {{ media_directory }}/;
    }

    location / {
       alias /app/root/;
    }

    location /api/ {
        uwsgi_pass unix:///app/socket/fn.sock;
        include uwsgi_params;
        uwsgi_read_timeout 300s;
        client_max_body_size 32m;
    }

    # location = /favicon.ico {
    #     alias /var/www/prod_demo/app/static/images/favicon.ico;
    # }
}
server {
    if ($host = {{ DJANGO_HOST }}) {
        return 301 https://$host$request_uri;
    }
    listen 80;
    server_name {{ DJANGO_HOST }};
    return 404;
}
